{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    <input type="text" id="filtro" placeholder="Buscar..." class="form-control mb-3">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in cliente %}
            <form action="/edit_cli/{{cliente.user}}" method="POST">
                <tr data-user="{{ cliente.user }}">
                    <td><input type="text" class="form-control" value="{{cliente.user}}" name="user"></td>
                    <td><input type="text" class="form-control" value="{{ cliente.contraseña }}" name="contraseña">
                    </td>
                    <td><input type="text" class="form-control" value="{{ cliente.correo }}" name="correo"> </td>
                    <td>
                        <button type="submit" class="editar btn btn-primary">Editar</button>
                        <a href="{{url_for('elitcl',client_nombre=cliente.user)}}"
                            class="eliminar btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#filtro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tr[data-user]").filter(function () {
                $(this).toggle($(this).data("user").toLowerCase().indexOf(value) > -1)
            });
        });
    });

    
    //  Este es oara preguntar de la edicion y eliminacion
    $(document).ready(function () {
        $(".editar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres editar?")) {
                event.preventDefault();
            }
        });

        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}