{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <form action="/edit_cli/{{ cliente.user }}" method="post">
            <tbody>
                {% for cliente in cliente %}
                <tr>
                    <td>{{ cliente.user }}</td>
                    <td>{{ cliente.contraseña }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td><button type="submit" class="btn btn-primary">Enviar</button>
                    <a href="{{url_for('elitcl',client_nombre=cliente.user)}}" class="btn btn-danger">Eliminar</a></td>
                    {% endfor %}
                </tr>
            </tbody>
        </form>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>


{% endblock %}