<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnicos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <!-- Menú de Ionic -->
    <ion-menu side="start" content-id="main-content">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item href="./cliente">
                    <ion-icon name="accessibility-outline" slot="start"></ion-icon>
                    <ion-label> Clientes</ion-label>
                </ion-item>
                <ion-item href="./agtecnico">
                    <ion-icon name="add-outline" slot="start"></ion-icon>
                    <ion-label>Agregar tecnicos</ion-label>
                </ion-item>
                <ion-item href="./vistecni">
                    <ion-icon name="create-outline" slot="start"></ion-icon>
                    <ion-label>Editar tecnicos</ion-label>
                </ion-item>
                <ion-item href="./vistagenda">
                    <ion-icon name="newspaper-outline" slot="start"></ion-icon>
                    <ion-label>Agenda</ion-label>
                </ion-item>
                <ion-item href="./vistenvi">
                    <ion-icon name="navigate-outline" slot="start"></ion-icon>
                    <ion-label>Ingreso de estado</ion-label>
                </ion-item>
                <ion-item href="./vistacompleta">
                    <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
                    <ion-label>Reportes</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <!-- Contenido principal -->
    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>Tecnicos</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            {% block content %}
            {% endblock %}
        </ion-content>
    </div>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
</body>

</html>