{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vitecni in admin %}
            <form action="/edit_tec/{{ vitecni.user }}" method="post">
                <tr>
                    <td><input type="text" class=" form-control" value="{{ vitecni.user }}" name="user"></td>
                    <td><input type="text" class=" form-control" value="{{ vitecni.contraseña }}" name="contraseña">
                    </td>
                    <td><input type="text" class=" form-control" value="{{ vitecni.correo }}" name="correo"></td>
                    <td>
                        <button type="submit" class="editar btn btn-primary">Editar</button>
                        <a href="{{url_for('delete_tec',tecnico = vitecni.user)}}"
                            class="eliminar btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    //  Este es oara preguntar de la edicion y eliminacion
    $(document).ready(function () {
        $(".editar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres editar?")) {
                event.preventDefault();
            }
        });

        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}