{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                {% for vistarecu in recuperacion %}
                <tr>
                    <td>
                        {{vistarecu.user}}
                    </td>
                    <td>
                        {{vistarecu.correo}}
                    </td>
                    <td>
                        <a href="{{url_for('delete_rec',recuperacion = vistarecu.user)}}" class="eliminar btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
     //  Este es oara preguntar de la edicion y eliminacion
     $(document).ready(function () {
        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
    });
</script>
{% endblock %}