{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    {% for vistagenda in agendar %}
    <form action="/tecnicos/vistagenda" method="post">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Agenda de clientes</ion-card-title>
                <ion-card-subtitle>Revisar antes de enviar </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                            <ion-input label="Asignar visita técnica" label-placement="stacked"  name="tecnico" value="{{ vistagenda.tecnico }}" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input label="Cliente" label-placement="stacked" readonly name="cliente" value="{{ vistagenda.cliente }}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input label="Hora" label-placement="stacked" readonly value="{{ vistagenda.hora }}"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input label="Fecha" label-placement="stacked" readonly name="fecha" value="{{ vistagenda.fecha }}">
                        </ion-item>
                        <ion-item>
                            <ion-input label="Telefono" label-placement="stacked" readonly value="{{ vistagenda.telefono }}">
                        </ion-item>
                        <ion-item>
                            <ion-input label="Direccion" label-placement="stacked" name="direccion" value="{{ vistagenda.direccion }}">
                        </ion-item>
                        <ion-item>
                            <ion-input label="Canton" label-placement="stacked" name="canton" value="{{ vistagenda.canton }}">
                        </ion-item>
                        <ion-item>
                            <ion-input label="Estado" label-placement="stacked" value="{{ vistagenda.estado }}">
                        </ion-item>
                    </ion-list>
                    <button type="submit" class="enviar btn btn-primary">Enviar</button>
                    <a href="{{url_for('elitage',age_name = vistagenda.codigo)}}" class="eliminar btn btn-danger">Eliminar</a>
                </ion-card-content>
        </ion-card>
    </form>
    {% endfor %}
</div>
<script>
    $(document).ready(function () {
        $(".enviar").click(function (event) {
            if (!confirm("¿Estás seguro de enviar?")) {
                event.preventDefault();
            }
        });
    });
    //  Este es oara preguntar de la edicion y eliminacion
    $(document).ready(function () {
        $(".eliminar").click(function (event) {
            if (!confirm("¿Estás seguro de que quieres eliminar?")) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}