{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Canton</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vistagenda in agendar %}
            <tr>
                <td>{{ vistagenda.codigo }}</td>
                <td>{{ vistagenda.cliente }}</td>
                <td>{{ vistagenda.hora}}</td>
                <td>{{ vistagenda.fecha}}</td>
                <td>{{ vistagenda.telefono}}</td>
                <td>{{ vistagenda.direccion}}</td>
                <td>{{ vistagenda.canton}}</td>
                <td>{{ vistagenda.estado}}</td>
                <td>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}