{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">

    <form action="/admin/reporte/re_vistacompleta" method="get">
        <br>
        <label for="nombre" style=" color: white;">
            <h4>Reporte por tecnicos</h4>
        </label><br>
        <input type="text" id="vtecnico" name="tecnico" class="form-control" style="width: 150px;">
        <br>
        <input type="submit" value="Filtrar" class="btn btn-primary">
        <a href="{{ url_for('re_vistacompleta') }}" class="btn btn-primary">
            
            Reporte completo</a>
    </form>
    <br>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Tecnico</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Direccion</th>
                <th>Canton</th>
                <th>Comentario</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for vistacompleta in reporte %}
            <tr>
                <td>{{ vistacompleta.tecnico }}</td>
                <td>{{ vistacompleta.cliente }}</td>
                <td>{{ vistacompleta.fecha }}</td>
                <td>{{ vistacompleta.direccion }}</td>
                <td>{{ vistacompleta.canton }}</td>
                <td>{{ vistacompleta.comentario }}</td>
                <td>{{ vistacompleta.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    //Cambio de english a spanish
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock %}