{% extends "tecnicos/layout.html" %}
{% block content %}
<div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Direccion</th>
                <th>Canton</th>
                <th>Comentario</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for vistacompleta in reporte %}
            <tr>
                <td>{{ vistacompleta.codigo }}</td>
                <td>{{ vistacompleta.cliente }}</td>
                <td>{{ vistacompleta.fecha }}</td>
                <td>{{ vistacompleta.direccion }}</td>
                <td>{{ vistacompleta.canton }}</td>
                <td>{{ vistacompleta.comentario }}</td>
                <td>{{ vistacompleta.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    //Cambio de english a spanish
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock %}