{% extends "clientes/layout.html" %}
{% block content %}
<div class="container">
    <form action="/clientes/agenda" method="post">
        <ion-list>
            <ion-item>
                <ion-input label="Codigo" id="codigo" name="codigo" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Nombre de usuario" name="cliente" value="{{ user }}" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Hora" type="datetime" id="hora" name="hora"
                    placeholder="Ponga en este formato:10:00"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Fecha" type="date" id="fecha" name="fecha"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input id="miInput" oninput="limitarEntrada()" label="Telefono" name="telefono"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Direccion" name="direccion"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Canton" name="canton"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input label="Describa su problema" name="estado"
                    placeholder="Ejemplo: Cambio de clave del internet"></ion-input>
            </ion-item>
            <ion-button type="submit">Enviar</ion-button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
        </ion-list>
    </form>
</div>
<script src="/static/js/agenda.js"></script>
<script src="/static/js/validar/v_fecha.js"></script>
{% endblock %}