{% extends "clientes/layout.html" %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for vistaagenda in agendar %}
            <tr>
                <td>{{ vistaagenda.codigo }}</td>
                <td>{{ vistaagenda.cliente }}</td>
                <td>{{ vistaagenda.fecha}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}